---
interface Props {
  class?: string
  id?: string
}

const { id, class: className } = Astro.props
---

<section
  id={id}
  class:list={[
    'flex h-fit scroll-mt-20 flex-col items-center bg-card p-9 sm:px-[10%]',
    className
  ]}
>
  <slot />
</section>
