---
import Layout from '@layouts/MainLayout.astro'
import Intro from '@/components/sections/intro/Intro'
import '@styles/global.css'
---

<Layout title="Javier's Portfolio">
  <div class='flex flex-col'>
    <section id='title' class='h-[500px] scroll-mt-20'>
      <Intro client:only='react' />
    </section>
    <div
      class='z-10 mb-40 rounded-[50px] border-b-2 border-t-2 shadow-2xl shadow-blue-500/10 sm:rounded-[150px] sm:border-t-4'
    >
      <section
        id='introduction'
        class='flex h-[500px] scroll-mt-28 flex-col items-center rounded-t-[50px] bg-gradient-to-t from-card to-card/30 p-8 backdrop-blur-sm sm:rounded-t-[150px]'
      >
        <h1 class='text-2xl font-bold'>About me</h1>
      </section>

      <section
        class='flex h-fit scroll-mt-20 flex-col items-center bg-card p-8 sm:px-16'
        id='work'
      >
        <h1 class='text-2xl font-bold'>Work resume</h1>

        <div class='relative'>
          <!-- https://react.keepdesign.io/docs/components/timeline -->
          <div
            id='timeline-overlay'
            class='absolute -left-4 z-10 flex h-full w-8 flex-col justify-between bg-transparent'
          >
            <div class='h-16 w-full bg-gradient-to-b from-background to-transparent'>
            </div>
            <div class='h-16 w-full bg-gradient-to-t from-background to-transparent'>
            </div>
          </div>

          <ol class='relative border-s border-foreground/30 py-16'>
            <li class='mb-10 ms-4'>
              <div
                class='absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full border border-muted-foreground bg-foreground'
              >
              </div>

              <div
                class='mb-4 flex flex-col justify-between gap-1 pt-1.5 text-sm font-normal leading-none text-muted-foreground sm:flex-row'
              >
                <p>2024/01 - PRESENT</p>
                <p>Cartagena, Colombia</p>
              </div>
              <h3 class='text-xl font-semibold text-foreground sm:text-2xl'>
                Full-stack Developer <span class='text-primary'>(Certified).</span>
              </h3>
              <h3 class='text-lg font-semibold text-muted-foreground'>
                At Softlabs Colombia SAS, freelance.
              </h3>
              <p
                class='mb-4 mt-2 text-justify text-sm font-normal text-muted-foreground sm:text-base'
              >
                Full-Stack Developer, working on the design and construction of scalable
                business solutions. Mostly oriented to Web Technologies and the
                digitalization of businesses. I highlight having designed and implemented
                a web-service (a demonized Backend API application) in charge of acting as
                a bridge to connect a client's ERP Software with their new choice of
                electronic invoicing provider. Developed in Typescript and deployed as a
                single executable taking advantage of one of the latest cutting-edge
                features of NodeJS, I am talking about SEA (Single Executable
                Applications), it also had a dashboard developed in React. I was also in
                charge of developing several other Frontend projects (a results
                consultation portal for clinical laboratory patients, and a web
                application for inventory management and filling of gas cylinders, the
                latter used by important companies in the sector on the Caribbean coast).
              </p>
            </li>

            <li class='mb-10 ms-4'>
              <div
                class='absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full border border-muted-foreground bg-foreground'
              >
              </div>

              <div
                class='mb-4 flex flex-col justify-between gap-1 pt-1.5 text-sm font-normal leading-none text-muted-foreground sm:flex-row'
              >
                <p>2021/11 - 2022/10</p>
                <p>Remote, Cartagena, Colombia</p>
              </div>
              <h3 class='text-xl font-semibold text-foreground sm:text-2xl'>
                Full-stack Developer
              </h3>
              <h3 class='text-lg font-semibold text-muted-foreground'>
                At VTEX COL, freelance.
              </h3>
              <p
                class='mb-4 mt-2 text-justify text-sm font-normal text-muted-foreground sm:text-base'
              >
                Developer of a web-based live sales management application (plugin), using
                React with Typescript, NodeJS, AWS services, Bootstrap+CSS and the Web
                Sockets Protocol.
              </p>
            </li>

            <li class='mb-10 ms-4'>
              <div
                class='absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full border border-muted-foreground bg-foreground'
              >
              </div>

              <div
                class='mb-4 flex flex-col justify-between gap-1 pt-1.5 text-sm font-normal leading-none text-muted-foreground sm:flex-row'
              >
                <p>2021/06 - 2021/11</p>
                <p>Remote, Cartagena, Colombia</p>
              </div>
              <h3 class='text-xl font-semibold text-foreground sm:text-2xl'>
                Full-stack Developer
              </h3>
              <h3 class='text-lg font-semibold text-muted-foreground'>
                Independent professional.
              </h3>
              <p
                class='mb-4 mt-2 text-justify text-sm font-normal text-muted-foreground sm:text-base'
              >
                Frontend web development, and collaboration for the migration of ERP
                program to web technologies (React, Typescript, Bootstrap) using
                ElectronJS.
              </p>
            </li>
          </ol>
        </div>
      </section>

      <section
        class='flex h-[500px] scroll-mt-20 flex-col items-center bg-card p-8'
        id='stack'
      >
        <h1 class='text-2xl font-bold'>Tech Stack</h1>
      </section>
      <section
        class='flex h-[500px] scroll-mt-20 flex-col items-center bg-card p-8'
        id='tooling'
      >
        <h1 class='text-2xl font-bold'>Daily tooling</h1>
      </section>
      <section
        class='flex h-[500px] scroll-mt-20 flex-col items-center bg-card p-8'
        id='projects'
      >
        <h1 class='text-2xl font-bold'>Projects</h1>
      </section>
      <section
        class='flex h-[500px] scroll-mt-20 flex-col items-center rounded-b-[50px] bg-card p-8 sm:rounded-b-[150px]'
        id='contact'
      >
        <h1 class='text-2xl font-bold'>Contact</h1>
      </section>
    </div>
  </div>
</Layout>
