---
import Layout from '@layouts/MainLayout.astro';
import '@styles/global.css'
---

<Layout title="Javier's Portfolio">
		<section class="scroll-mt-20 bg-card p-8 rounded-lg h-[500px]" id='introduction' >Introduction</section>
		<section class="scroll-mt-20 bg-card p-8 rounded-lg h-[500px]" id='work'>Work resume</section>
		<section class="scroll-mt-20 bg-card p-8 rounded-lg h-[500px]" id='stack'>Tech Stack</section>
		<section class="scroll-mt-20 bg-card p-8 rounded-lg h-[500px]" id='tooling'>Daily tooling</section>
		<section class="scroll-mt-20 bg-card p-8 rounded-lg h-[500px]" id='projects'>Projects</section>
		<section class="scroll-mt-20 bg-card p-8 rounded-lg h-[500px]" id='contact'>Contact</section>
</Layout>