---
import Layout from '@layouts/MainLayout.astro';
import '@styles/global.css'
---

<Layout title="Javier's Portfolio">
		<section class="bg-card p-8 rounded-lg">Introduction</section>
		<section class="bg-card p-8 rounded-lg">Work resume</section>
		<section class="bg-card p-8 rounded-lg">Tech Stack</section>
		<section class="bg-card p-8 rounded-lg">Daily tooling</section>
		<section class="bg-card p-8 rounded-lg">Projects</section>
</Layout>