---
import Layout from '@layouts/MainLayout.astro';
import Intro from '@/components/sections/intro/Intro'
import '@styles/global.css'
---

<Layout title="Javier's Portfolio">
		<div class="flex flex-col">
			<section id='introduction' class="scroll-mt-20">
				<Intro  client:only="react"/>
			</section>
			<section class="scroll-mt-20 bg-card/50 p-8 h-[500px] rounded-t-3xl" id='work'>Work resume</section>
			<section class="scroll-mt-20 bg-card/50 p-8 h-[500px]" id='stack'>Tech Stack</section>
			<section class="scroll-mt-20 bg-card/50 p-8 h-[500px]" id='tooling'>Daily tooling</section>
			<section class="scroll-mt-20 bg-card/50 p-8 h-[500px]" id='projects'>Projects</section>
			<section class="scroll-mt-20 bg-card/50 p-8 h-[500px]" id='contact'>Contact</section>
		</div>
</Layout>

