---
import Layout from '@layouts/MainLayout.astro';
import Intro from '@/components/sections/intro/Intro'
import '@styles/global.css'
---

<Layout title="Javier's Portfolio">
		<div class="flex flex-col ">
			<section id='title' class="scroll-mt-20 h-[500px]">
				<Intro  client:only="react"/>
			</section>
			<div class="z-10 mb-40 rounded-[50px] sm:rounded-[150px] shadow-2xl shadow-blue-500/10 border-t-2 sm:border-t-4 border-b-2">
				<section id='introduction' class="scroll-mt-28 bg-gradient-to-t from-card to-card/30 backdrop-blur-sm p-8 h-[500px] flex flex-col items-center rounded-t-[50px] sm:rounded-t-[150px]">
					<h1 class="text-2xl font-bold">About me</h1>
				</section>
				<section class="scroll-mt-20 bg-card p-8 h-[500px] flex flex-col items-center" id='work'>
					<h1 class="text-2xl font-bold">Work resume</h1>
				</section>
				<section class="scroll-mt-20 bg-card p-8 h-[500px] flex flex-col items-center" id='stack'>
					<h1 class="text-2xl font-bold">Tech Stack</h1>
				</section>
				<section class="scroll-mt-20 bg-card p-8 h-[500px] flex flex-col items-center" id='tooling'>
					<h1 class="text-2xl font-bold">Daily tooling</h1>
				</section>
				<section class="scroll-mt-20 bg-card p-8 h-[500px] flex flex-col items-center" id='projects'>
					<h1 class="text-2xl font-bold">Projects</h1>
				</section>
				<section class="scroll-mt-20 bg-card p-8 h-[500px] flex flex-col items-center rounded-b-[50px] sm:rounded-b-[150px]" id='contact'>
					<h1 class="text-2xl font-bold">Contact</h1>
				</section>
			</div>
		</div>
</Layout>