---
import Layout from '@layouts/MainLayout.astro'
import Intro from '@/components/sections/intro/Intro'
import '@styles/global.css'
---

<Layout title="Javier's Portfolio">
  <div class='flex flex-col'>
    <section id='title' class='h-[500px] scroll-mt-20'>
      <Intro client:only='react' />
    </section>
    <div
      class='z-10 mb-40 rounded-[50px] border-b-2 border-t-2 shadow-2xl shadow-blue-500/10 sm:rounded-[150px] sm:border-t-4'
    >
      <section
        id='introduction'
        class='flex h-[500px] scroll-mt-28 flex-col items-center rounded-t-[50px] bg-gradient-to-t from-card to-card/30 p-8 backdrop-blur-sm sm:rounded-t-[150px]'
      >
        <h1 class='text-2xl font-bold'>About me</h1>
      </section>

      <section class='flex h-[500px] scroll-mt-20 flex-col items-center bg-card p-8' id='work'>
        <h1 class='text-2xl font-bold'>Work resume</h1>

        <ol class='relative border-s border-gray-200 dark:border-gray-700'>
          <li class='mb-10 ms-4'>
            <div
              class='absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full border border-white bg-gray-200 dark:border-gray-900 dark:bg-gray-700'
            >
            </div>
            <time class='mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500'
              >February 2022</time
            >
            <h3 class='text-lg font-semibold text-gray-900 dark:text-white'>
              Application UI code in Tailwind CSS
            </h3>
            <p class='mb-4 text-base font-normal text-gray-500 dark:text-gray-400'>
              Get access to over 20+ pages including a dashboard layout, charts, kanban board,
              calendar, and pre-order E-commerce & Marketing pages.
            </p>
            <a
              href='#'
              class='inline-flex items-center rounded-lg border border-gray-200 bg-white px-4 py-2 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:text-blue-700 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700'
              >Learn more <svg
                class='ms-2 h-3 w-3 rtl:rotate-180'
                aria-hidden='true'
                xmlns='http://www.w3.org/2000/svg'
                fill='none'
                viewBox='0 0 14 10'
              >
                <path
                  stroke='currentColor'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='2'
                  d='M1 5h12m0 0L9 1m4 4L9 9'></path>
              </svg></a
            >
          </li>
          <li class='mb-10 ms-4'>
            <div
              class='absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full border border-white bg-gray-200 dark:border-gray-900 dark:bg-gray-700'
            >
            </div>
            <time class='mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500'
              >March 2022</time
            >
            <h3 class='text-lg font-semibold text-gray-900 dark:text-white'>
              Marketing UI design in Figma
            </h3>
            <p class='text-base font-normal text-gray-500 dark:text-gray-400'>
              All of the pages and components are first designed in Figma and we keep a parity
              between the two versions even as we update the project.
            </p>
          </li>
          <li class='ms-4'>
            <div
              class='absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full border border-white bg-gray-200 dark:border-gray-900 dark:bg-gray-700'
            >
            </div>
            <time class='mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500'
              >April 2022</time
            >
            <h3 class='text-lg font-semibold text-gray-900 dark:text-white'>
              E-Commerce UI code in Tailwind CSS
            </h3>
            <p class='text-base font-normal text-gray-500 dark:text-gray-400'>
              Get started with dozens of web components and interactive elements built on top of
              Tailwind CSS.
            </p>
          </li>
        </ol>
      </section>

      <section class='flex h-[500px] scroll-mt-20 flex-col items-center bg-card p-8' id='stack'>
        <h1 class='text-2xl font-bold'>Tech Stack</h1>
      </section>
      <section class='flex h-[500px] scroll-mt-20 flex-col items-center bg-card p-8' id='tooling'>
        <h1 class='text-2xl font-bold'>Daily tooling</h1>
      </section>
      <section class='flex h-[500px] scroll-mt-20 flex-col items-center bg-card p-8' id='projects'>
        <h1 class='text-2xl font-bold'>Projects</h1>
      </section>
      <section
        class='flex h-[500px] scroll-mt-20 flex-col items-center rounded-b-[50px] bg-card p-8 sm:rounded-b-[150px]'
        id='contact'
      >
        <h1 class='text-2xl font-bold'>Contact</h1>
      </section>
    </div>
  </div>
</Layout>
