---
//Credits: https://codepen.io/kode88/pen/KydBxY

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<div class:list={['mouse', className]}>
  <div class='mouse-icon'>
    <span class='mouse-wheel'></span>
  </div>
</div>

<style>
  .mouse {
    width: fit-content;
  }
  .mouse-icon {
    width: 25px;
    height: 45px;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    text-align: center;
    animation: 1.6s ease infinite mouse-body-twinkly;
  }
  .mouse-wheel {
    height: 9px;
    margin: 2px auto 0;
    display: block;
    width: 5px;
    background-color: white;
    border-radius: 50%;
    -webkit-animation: 1.6s ease infinite wheel-up-down;
    -moz-animation: 1.6s ease infinite wheel-up-down;
    animation: 1.6s ease infinite wheel-up-down;
  }
  @-webkit-keyframes wheel-up-down {
    0% {
      margin-top: 2px;
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    100% {
      margin-top: 20px;
      opacity: 0;
    }
  }
  @-moz-keyframes wheel-up-down {
    0% {
      margin-top: 2px;
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    100% {
      margin-top: 20px;
      opacity: 0;
    }
  }
  @keyframes wheel-up-down {
    0% {
      margin-top: 2px;
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    100% {
      margin-top: 20px;
      opacity: 0;
    }
  }

  @-webkit-keyframes mouse-body-twinkly {
    0% {
      opacity: 0.55;
    }

    50% {
      opacity: 0.8;
    }

    100% {
      opacity: 0.55;
    }
  }

  @-moz-keyframes mouse-body-twinkly {
    0% {
      opacity: 0.55;
    }

    50% {
      opacity: 0.8;
    }

    100% {
      opacity: 0.55;
    }
  }

  @keyframes mouse-body-twinkly {
    0% {
      opacity: 0.55;
    }

    50% {
      opacity: 0.8;
    }

    100% {
      opacity: 0.55;
    }
  }
</style>
