---
import { Nav } from '@components/Nav/Nav';
import { Button } from '@components/lib/ui/button';
import { ArrowUpIcon, GithubIcon, LinkedinIcon } from 'lucide-react';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class="scroll-smooth" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body id="body" class="flex flex-col items-center dark">
		<header id="page-header" class="p-4 z-50 w-full fixed top-0">
			<div class="w-full max-w-screen-2xl lg:px-8 flex flex-row-reverse md:flex-row items-center justify-between mx-auto">
				<a href="#title">
					<h1 class="text-xl font-bold text-accent-foreground flex flex-row gap-2"> @javierllns <GithubIcon/><LinkedinIcon/></h1>
				</a>
				<Nav client:only="react"/>
				<h1 class="hidden md:flex flex-row items-center pb-1 gap-2 text-xl font-bold text-accent-foreground">
					<span class="hidden [@media(min-width:920px)]:block">Download</span>
					CV
				</h1>
			</div>
		</header>

		<main class="w-full max-w-screen-2xl">
			<slot />
		</main>

		<a id="go-up" href="#title" class="z-50 fixed bottom-[10vh] right-[10vh] portrait:bottom-[10vw] portrait:right-[10vw] hidden">
			<Button variant={'outline'} className='rounded-full size-fit p-4'><ArrowUpIcon  /></Button>
		</a>
	</body>
</html>
<style is:global>
</style>

<script>
	window.addEventListener(`scroll`, function (e) {
		const scrollOpa = this.scrollY / 200
		const header = document.getElementById("page-header");
		const goUpButton = document.getElementById("go-up");

		if(header){
			header.style.backgroundColor = `hsl(var(--card) / ${scrollOpa})`;
		};

		if(goUpButton){
			if(scrollOpa == 0){
				goUpButton.style.display = 'none';
			}
			if(scrollOpa > 0){
				goUpButton.style.display = 'block';
			}
		};
});
</script>
