---
import { Nav } from '@components/Nav/Nav'
import { Button } from '@components/lib/ui/button'
import { ArrowUpIcon, GithubIcon, LinkedinIcon } from 'lucide-react'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html class='scroll-smooth' lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body id='body' class='dark flex flex-col items-center'>
    <header id='page-header' class='fixed top-0 z-50 w-full p-4'>
      <div
        class:list={[
          'w-full max-w-screen-xl',
          'mx-auto lg:px-8',
          'flex flex-row-reverse items-center justify-between md:flex-row'
        ]}
      >
        <a href='#title'>
          <h1 class='flex flex-row gap-2 text-xl font-bold text-accent-foreground'>
            @javierllns
          </h1>
        </a>

        <Nav client:only='react' />

        <div class='hidden gap-3 md:flex'>
          <a href='https://github.com/javierllns' target='_blank'>
            <GithubIcon className='hover:stroke-primary' />
          </a>

          <a href='https://www.linkedin.com/in/javierllns/' target='_blank'>
            <LinkedinIcon className='hover:stroke-primary' />
          </a>
        </div>
      </div>
    </header>

    <main class='w-full max-w-screen-xl'>
      <slot />
    </main>

    <a
      id='go-up'
      href='#title'
      class='fixed bottom-[10vh] right-[10vh] z-50 hidden portrait:bottom-[10vw] portrait:right-[10vw]'
    >
      <Button variant={'outline'} className='size-fit rounded-full p-4'
        ><ArrowUpIcon /></Button
      >
    </a>
  </body>
</html>
<style is:global></style>

<script>
  window.addEventListener(`scroll`, function (e) {
    const scrollOpa = this.scrollY / 200
    const header = document.getElementById('page-header')
    const goUpButton = document.getElementById('go-up')

    if (header) {
      if (scrollOpa > 0) {
        header.classList.add('backdrop-blur-md')
      } else if (scrollOpa == 0) {
        header.classList.remove('backdrop-blur-md')
      }

      if (scrollOpa < 0.88) {
        header.style.backgroundColor = `hsl(var(--card) / ${scrollOpa})`
      }
    }

    if (goUpButton) {
      if (scrollOpa == 0) {
        goUpButton.style.display = 'none'
      }
      if (scrollOpa > 0) {
        goUpButton.style.display = 'block'
      }
    }
  })
</script>
