---
import { Nav } from '@components/Nav/Nav';
import { Button } from '@components/lib/ui/button';
import { ArrowUpIcon } from 'lucide-react';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class="scroll-smooth" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body id="body" class="flex flex-col items-center">
		<header class="p-4 z-50 h-20 w-full bg-card fixed top-0 flex items-center justify-between flex-row-reverse lg:flex-row">
			<a href="#title">
				<h1 class="text-xl font-bold text-accent-foreground px-2">JAVIER's dev Portfolio</h1>
			</a>
			<Nav client:only="react"/>
			<h1 class="hidden lg:block text-xl font-bold text-accent-foreground">Download CV</h1>
		</header>

		<main class="container px-0">
			<slot />
		</main>

		<a href="#title" class="fixed bottom-[10%] right-[10%]">
			<Button variant={'outline'} className='rounded-full size-fit p-4'><ArrowUpIcon  /></Button>
		</a>
	</body>
</html>
<style is:global>
</style>
