---
import { Nav } from '@components/Nav/Nav';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class="scroll-smooth" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body id="body" class="flex flex-col items-center">
		<header class="p-4 z-50 h-20 w-full bg-background/30 backdrop-blur-lg sticky top-0 flex items-center justify-between flex-row-reverse lg:flex-row">
			<h1 class="text-xl font-bold text-accent-foreground">JAVIER's dev Portfolio</h1>
			<Nav client:only="react"/>
			<h1 class="hidden lg:block">Download CV</h1>
		</header>

		<main class="container px-0">
			<slot />
		</main>
	</body>
</html>
<style is:global>
</style>
