---
import NavItem from "@components/Nav/NavItem.astro"

---

<nav class="w-fit">
	<ul class="flex justify-between">
		<li>
			<NavItem title="Introduction" ref="#introduction"/>
		</li>
		<li>
			<NavItem title="Work" ref="#work"/>
		</li>
		<li>
			<NavItem title="Stack/Technologies" ref="#stack"/>
		</li>
		<li>
			<NavItem title="Tooling" ref="#tooling"/>
		</li>
		<li>
			<NavItem title="Projects" ref="#projects"/>
		</li>
		<li>
			<NavItem title="Contact" ref="#contact"/>
		</li>
	</ul>
</nav>