---
import NavItem from "@components/Nav/NavItem.astro"

---

<nav class="w-fit h-full">
	<ul class="flex h-full">
		<li>
			<NavItem title="About me" ref="#introduction"/>
		</li>
		<li>
			<NavItem title="Work" ref="#work"/>
		</li>
		<li>
			<NavItem title="Tech Stack" ref="#stack"/>
		</li>
		<li>
			<NavItem title="Tooling" ref="#tooling"/>
		</li>
		<li>
			<NavItem title="Projects" ref="#projects"/>
		</li>
		<li>
			<NavItem title="Contact" ref="#contact"/>
		</li>
	</ul>
</nav>