---
import {Button} from "@components/lib/ui/button"

interface Props {
	title: string
	ref: string
}

const {title, ref} = Astro.props
---


	<a href={ref}>
		<Button className="p-6 text-xl" variant={"ghost"}>
			{title}
		</Button>
	</a>

