---
import {Button} from "@components/lib/ui/button"

interface Props {
	title: string
	ref: string
}

const {title, ref} = Astro.props
---

<Button className="p-6" variant={"ghost"}>
	<a class="text-xl" href={ref}>{title}</a>
</Button>
